---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/payments/auth
    body:
      encoding: UTF-8
      string: '{"requestId":"fjfwwwjfj0902929210","token":"tgiibd59adl9rldhefaqm9jcgnhca8dvv07t9gcq7lboo6btsdfq11","merchantReference":"100101468"}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - 42fzpcn5gb3wjkj2bly3bu6m6m
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_token",
          "errorId" : "2e34262234226ab9",
          "message" : "Cannot complete payment, expired or invalid token.",
          "httpStatusCode" : 402
        }
  recorded_at: Tue, 01 Jun 2021 10:57:50 GMT
recorded_with: VCR 4.0.0
