---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/payments/capture
    body:
      encoding: UTF-8
      string: '{"token":"q3f6gn81q09gfjk7riaqfhavmtebt88qpjepd9kmjo37ou7oj5eb","merchantRefernce":"checkout-1"}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - 5ey7as6smo3rfw7lxldatndjfe
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "24266772",
          "token" : "q3f6gn81q09gfjk7riaqfhavmtebt88qpjepd9kmjo37ou7oj5eb",
          "status" : "APPROVED",
          "created" : "2019-04-09T08:38:30.159Z",
          "originalAmount" : {
              "amount" : "100.00",
              "currency" : "AUD"
            },
            "openToCaptureAmount" : {
              "amount" : "100.00",
              "currency" : "AUD"
            },
          "paymentState" : "AUTH_APPROVED",
          "refunds" : [ ],
          "orderDetails" : {
            "consumer" : {
              "phoneNumber" : "12345678910",
              "givenNames" : "FName",
              "surname" : "LName",
              "email" : "johndoe@mail.com"
            },
            "courier" : { },
            "items" : [ {
              "name" : "Item Name",
              "sku" : "1",
              "quantity" : 1,
              "price" : {
                "amount" : "1000.00",
                "currency" : "AUD"
              }
            } ],
            "discounts" : [ ]
          },
          "events" : [ ]
        }
  recorded_at: Tue, 09 Apr 2019 08:46:32 GMT
recorded_with: VCR 4.0.0
