---
http_interactions:
- request:
    method: get
    uri: https://api.us-sandbox.afterpay.com/v2/configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - fxizmlfobmrw3qrvnsxz3ydlyq
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "maximumAmount" : {
            "amount" : "1000.00",
            "currency" : "AUD"
          }
        }
  recorded_at: Tue, 09 Apr 2019 06:14:58 GMT
recorded_with: VCR 4.0.0
