---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.afterpay.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"totalAmount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"shippingAmount":null,"paymentType":null}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - cff35wny5o2l6yb3jogohiloge
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_object",
          "errorId" : "ea536a7adf46d2c7",
          "message" : "merchant.redirectConfirmUrl must be a valid URL, merchant.redirectConfirmUrl may not be empty",
          "httpStatusCode" : 422
        }
  recorded_at: Fri, 10 May 2019 12:16:07 GMT
recorded_with: VCR 4.0.0
