---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.afterpay.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"totalAmount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"shippingAmount":null,"paymentType":"PAY_BY_INSTALLMENT"}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - nfbkk3nledbn3hzgt3gdht63k4
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_object",
          "errorId" : "0f3597e261059508",
          "message" : "merchant.redirectConfirmUrl may not be empty, merchant.redirectConfirmUrl must be a valid URL",
          "httpStatusCode" : 422
        }
  recorded_at: Tue, 09 Apr 2019 08:38:30 GMT
recorded_with: VCR 4.0.0
