---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/checkouts
    body:
      encoding: UTF-8
      string: '{"amount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"paymentType":null}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: ''
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - koarsayd57r6mibaadimclgdjq
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_object",
          "errorId" : "2e30eb3c438578d1",
          "message" : "merchant.redirectConfirmUrl may not be empty, merchant.redirectConfirmUrl must be a valid URL",
          "httpStatusCode" : 422
        }
  recorded_at: Mon, 13 May 2019 05:56:25 GMT
recorded_with: VCR 4.0.0
