---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.afterpay.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"totalAmount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"http://example.com/success","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"shippingAmount":{"amount":50.0,"currency":"AUD"},"paymentType":null,"billing":{"name":"John
        Doe","line1":"An address","suburb":"Melbourne","state":"QLD","postcode":"3000","countryCode":"AU","phoneNumber":"67108864"},"shipping":{"name":"John
        Doe","line1":"An address","suburb":"Melbourne","state":"QLD","postcode":"3000","countryCode":"AU","phoneNumber":"67108864"}}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - k5heast2onyastw2p2b2kfzkta
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "ul4g55b15v26spuf1clkgk59j2aa6ijgmjou611i1jhda7oehnv8",
          "expires" : "2019-05-13T03:51:33.095Z"
        }
  recorded_at: Mon, 13 May 2019 03:21:33 GMT
recorded_with: VCR 4.0.0
