---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/checkouts
    body:
      encoding: UTF-8
      string: '{"amount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"http://example.com/success","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"paymentType":null}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - hfhx7ie3lbi52befskh3q53jvm
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "6hji3dch7dkbtfree2p56a21ko14vl8dnmqvve2m803ct5mdclmj",
          "expires" : "2019-05-13T06:26:25.183Z"
        }
  recorded_at: Mon, 13 May 2019 05:56:25 GMT
recorded_with: VCR 4.0.0
