---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.afterpay.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"totalAmount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"http://example.com/success","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"shippingAmount":null,"paymentType":null}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - 6ppgavzh3flnbypn2vgmenhbfe
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "tgiibd59adl9rldhefaqm9jcgnhca8dvv07t9gcq7lboo6btsdfq",
          "expires" : "2019-04-09T06:55:39.101Z"
        }
  recorded_at: Tue, 09 Apr 2019 06:25:39 GMT
recorded_with: VCR 4.0.0
