---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.afterpay.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"totalAmount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"http://example.com/success","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"shippingAmount":null,"paymentType":"PAY_BY_INSTALLMENT"}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - axkg2fln42nvhbk3baaehx5ufa
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "q3f6gn81q09gfjk7riaqfhavmtebt88qpjepd9kmjo37ou7oj5eb",
          "expires" : "2019-04-09T09:08:30.159Z"
        }
  recorded_at: Tue, 09 Apr 2019 08:38:30 GMT
recorded_with: VCR 4.0.0
