---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/payments/capture
    body:
      encoding: UTF-8
      string: '{"token":"tgiibd59adl9rldhefaqm9jcgnhca8dvv07t9gcq7lboo6btsdfq","merchantRefernce":"checkout-1"}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 412
      message: Precondition Failed
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - nq4w72ad3cqjwrk3y7rgoszo44
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode" : "invalid_token",
          "errorId" : "293f3acfc12eb34c",
          "message" : "Invalid token",
          "httpStatusCode" : 412
        }
  recorded_at: Tue, 09 Apr 2019 07:00:03 GMT
recorded_with: VCR 4.0.0
