---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/checkouts
    body:
      encoding: UTF-8
      string: '{"amount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"http://example.com/success","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"paymentType":null,"shippingAmount":{"amount":50.0,"currency":"AUD"},"billing":{"name":"John
        Doe","line1":"An address","line2":"","suburb":"Melbourne","state":"QLD","postcode":"3000","countryCode":"AU","phoneNumber":"67108864"},"shipping":{"name":"John
        Doe","line1":"An address","line2":"","suburb":"Melbourne","state":"QLD","postcode":"3000","countryCode":"AU","phoneNumber":"67108864"}}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - tv7tcx5nsc5zsspanday7qilgm
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "osnh6vurlk8glphdlnodsqfur7tohharl8rendlu0sek3cmnra34",
          "expires" : "2019-05-13T06:26:26.560Z"
        }
  recorded_at: Mon, 13 May 2019 05:56:26 GMT
recorded_with: VCR 4.0.0
