---
http_interactions:
- request:
    method: get
    uri: https://api.us-sandbox.afterpay.com/v2/checkouts/le4bavv8rl6m0m3d2rq7k5dvpvmoeetrhro64m0ihoj7ou8idmtv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - qyjdnexzg5meq3qvhram72v3ca
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expires" : "2019-05-10T12:28:10.939Z",
          "token" : "le4bavv8rl6m0m3d2rq7k5dvpvmoeetrhro64m0ihoj7ou8idmtv",
          "totalAmount" : {
            "amount" : "1000.00",
            "currency" : "AUD"
          },
          "consumer" : {
            "phoneNumber" : "12345678910",
            "givenNames" : "FName",
            "surname" : "LName",
            "email" : "johndoe@mail.com"
          },
          "courier" : { },
          "merchant" : {
            "redirectConfirmUrl" : "http://example.com/success",
            "redirectCancelUrl" : "http://example.com/cancel"
          },
          "paymentType" : "PAY_BY_INSTALLMENT",
          "items" : [ {
            "name" : "Item Name",
            "sku" : "1",
            "quantity" : 1,
            "price" : {
              "amount" : "1000.00",
              "currency" : "AUD"
            }
          } ],
          "discounts" : [ {
            "displayName" : "Coupon",
            "amount" : {
              "amount" : "1000.00",
              "currency" : "AUD"
            }
          } ]
        }
  recorded_at: Fri, 10 May 2019 12:14:47 GMT
recorded_with: VCR 4.0.0
