---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.afterpay.com/v1/orders/tgiibd59adl9rldhefaqm9jcgnhca8dvv07t9gcq7lboo6btsdfq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - 7iptmxcfhgts3ex4tgzypxdchy
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expires" : "2019-04-09T06:55:39.101Z",
          "token" : "tgiibd59adl9rldhefaqm9jcgnhca8dvv07t9gcq7lboo6btsdfq",
          "totalAmount" : {
            "amount" : "1000.00",
            "currency" : "AUD"
          },
          "consumer" : {
            "phoneNumber" : "12345678910",
            "givenNames" : "FName",
            "surname" : "LName",
            "email" : "johndoe@mail.com"
          },
          "courier" : { },
          "merchant" : {
            "redirectConfirmUrl" : "http://example.com/success",
            "redirectCancelUrl" : "http://example.com/cancel"
          },
          "paymentType" : "PAY_BY_INSTALLMENT",
          "items" : [ {
            "name" : "Item Name",
            "sku" : "1",
            "quantity" : 1,
            "price" : {
              "amount" : "1000.00",
              "currency" : "AUD"
            }
          } ],
          "discounts" : [ ]
        }
  recorded_at: Tue, 09 Apr 2019 06:47:13 GMT
recorded_with: VCR 4.0.0
