---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.afterpay.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"totalAmount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"http://example.com/success","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"shippingAmount":null,"paymentType":null,"discounts":[{"displayName":"Coupon","amount":{"amount":1000.0,"currency":"AUD"}}]}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - uonuehd3wg2icge27dh3ztnbom
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "787obqh7demnnq8o06n3e2pd3iibltbnha2tcd1o2o73n3m9djmf",
          "expires" : "2019-05-10T12:46:07.814Z"
        }
  recorded_at: Fri, 10 May 2019 12:16:08 GMT
recorded_with: VCR 4.0.0
