---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/checkouts
    body:
      encoding: UTF-8
      string: '{"amount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"http://example.com/success","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"paymentType":null,"discounts":[{"displayName":"Coupon","amount":{"amount":1000.0,"currency":"AUD"}}]}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - jpt3sxbujjgbl6xiukwsfhvztq
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "vstpja19k8nqsgqbgbocio440t4nhkvqgr1j93c6lrqoftuli0j6",
          "expires" : "2019-05-13T06:26:27.251Z"
        }
  recorded_at: Mon, 13 May 2019 05:56:27 GMT
recorded_with: VCR 4.0.0
