---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.afterpay.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"totalAmount":{"amount":1000.0,"currency":"AUD"},"consumer":{"phoneNumber":12345678910,"givenNames":"FName","surname":"LName","email":"johndoe@mail.com"},"items":[{"name":"Item
        Name","sku":1,"quantity":1,"price":{"amount":1000.0,"currency":"AUD"}}],"merchant":{"redirectConfirmUrl":"http://example.com/success","redirectCancelUrl":"http://example.com/cancel"},"merchantReference":null,"taxAmount":null,"shippingAmount":null,"paymentType":null,"discounts":[{"displayName":"Coupon","amount":{"amount":1000.0,"currency":"AUD"}}]}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - yhkaddpztefndsl5ux3xsn5xyu
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "vvtk9kmo2p16b1v71jsh22oo3l44fslbg4t29v802b5hart0k53r",
          "expires" : "2019-05-10T11:49:25.497Z"
        }
  recorded_at: Fri, 10 May 2019 11:19:25 GMT
recorded_with: VCR 4.0.0
