---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/payments/100101529842/capture
    body:
      encoding: UTF-8
      string: '{"requestId":"wert100101529590","merchantRefernce":"100101468","amount":{"amount":250.0,"currency":"USD"},"paymentEventMerchantReference":""}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - 5qpfpmgpfbyizyire5ojdk7vga
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : "100101529842",
          "token" : "002.avpv776th25fof4itbfvrc019dqje4ia27qjk5525o3mfosr",
          "status" : "APPROVED",
          "created" : "2021-06-01T10:49:10.774Z",
          "originalAmount" : {
            "amount" : "1000.00",
            "currency" : "USD"
          },
          "openToCaptureAmount" : {
            "amount" : "750.00",
            "currency" : "USD"
          },
          "paymentState" : "PARTIALLY_CAPTURED",
          "merchantReference" : "100101468",
          "refunds" : [ ],
          "orderDetails" : {
            "consumer" : {
              "phoneNumber" : "",
              "givenNames" : "",
              "surname" : "",
              "email" : "sachin@yourmechanic.com"
            },
            "billing" : {
              "name" : "ADDESS1",
              "line1" : "SOME",
              "line2" : "value",
              "region" : "U.S. state.",
              "postcode" : "000000",
              "countryCode" : "US",
              "phoneNumber" : "5555555"
            },
            "shipping" : {
              "name" : "ADDESS1",
              "line1" : "SOME",
              "line2" : "value",
              "region" : "U.S. state.",
              "postcode" : "000000",
              "countryCode" : "US",
              "phoneNumber" : "5555555"
            },
            "courier" : { },
            "items" : [ ],
            "discounts" : [ ],
            "shippingAmount" : {
              "amount" : "1000.00",
              "currency" : "USD"
            },
            "taxAmount" : {
              "amount" : "1000.00",
              "currency" : "USD"
            }
          },
          "events" : [ {
            "id" : "1tLOnWb3zejkNWCtkfNBoCXiCus",
            "created" : "2021-06-01T10:57:49.981Z",
            "expires" : "2021-06-08T10:57:49.980Z",
            "type" : "AUTH_APPROVED",
            "amount" : {
              "amount" : "1000.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : null
          }, {
            "id" : "1tLOu14Ajgoyoh8lBLhoEuYDgAr",
            "created" : "2021-06-01T10:58:41.543Z",
            "expires" : null,
            "type" : "CAPTURED",
            "amount" : {
              "amount" : "250.00",
              "currency" : "USD"
            },
            "paymentEventMerchantReference" : ""
          } ]
        }
  recorded_at: Tue, 01 Jun 2021 10:58:41 GMT
recorded_with: VCR 4.0.0
