---
http_interactions:
- request:
    method: post
    uri: https://api.us-sandbox.afterpay.com/v2/payments/100101529843/void
    body:
      encoding: UTF-8
      string: '{"requestId":"some_uniqe_val","amount":{"amount":250.0,"currency":"USD"}}'
    headers:
      Authorization:
      - Basic <AUTH TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
      http_correlation_id:
      - s66dl7fuwj6mi4de475hnwdrdu
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errorCode" : "not_found",
          "errorId" : "ccbbc935a9412c56",
          "message" : "Afterpay payment ID not found.",
          "httpStatusCode" : 404
        }
  recorded_at: Tue, 01 Jun 2021 10:58:43 GMT
recorded_with: VCR 4.0.0
